.image {
  display: flex;
  width: 312px;
  height: 292px;
  border-radius: 10px;
}

.gallary {
  display: flex;
  width: 1312px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 28px;
}

.p {
  display: block;
}
