.butButton {
  padding: 16px 48.5px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  transition: background-color 0.3s;
}

.butButton:hover {
  background-color: #d84343;
}
.list {
  display: block;
}
