.nav {
  display: flex;
  gap: 450px;
  padding: 24px 0px;
  background-color: #f7f7f7;
  align-items: center;
}

.navlink {
  display: flex;
  gap: 32px;
}

.link {
  text-decoration: none;
  color: #101828;
  font-family: Inter, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.activeLink {
  color: #d84343;
}
